.chart {
    width: 785.33px;
    display: flex;
    flex-direction: column;
}

.bulldata {
    display: flex;
    gap: 92px;
}

.bull, .order {
    display: flex;
    width: 200.96px;
    height: 76.4px;
    align-items: center;
    gap: 20px;
    justify-content: center;
    /* background: #F5F5FC; */
    background: #FFFFFF;
    border-radius: 15px;
}

.rate {
    width: 42.96px;
    height: 33.16px;
}

.visit {
    display: flex;
    flex-direction: column;
}

.word {
    font-size: 10px;
    font-weight: 700;
    color: #A49EDB;
    margin: 0;
}

.num, .numorder {
    color: #000013;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.order {
    background: #FF392B;
}
.numorder {
    color: #FFFFFF;
}

.chartDown {
    display: flex;
    gap: 40px;
}

.poster {
    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: center; */
}
.posterInfo h5 {
    margin: 0;
    color: #000013;
    font-weight: 500;
}
.posterInfo p {
    margin: 0;
    color: #C4BDD5;
    font-size: 10px;
}
.activity {
    display: flex;
    gap: 10px;
}
.actIcon {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    font-weight: 500;
}


.when {
    display: flex;
    width: 240px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.when p {
    font-size: 10px;
    font-weight: 700;
}
.whenBtn {
    width: 105px;
    height: 37.46px;
    background: #3326AE;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
