.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 987px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    padding: 45px;
    gap: 20px;
    
}

.nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    color: #000013;
    font-weight: 500;
}
.homelogo {
    display: none;
}
.navleft {
    display: flex;
    gap: 70px;
}
.navmenu {
    display: flex;
    gap: 60px;
}
.navright {
    display: flex;
    gap: 20px;
}
.navinput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 420.57px;
    height: 32.69px;
    /* border: 0.5px solid #010E2A; */
    border-radius: 12px;
    background: #F5F5FC;
}
.navinput input {
    width: 376.24px;
    height: 16px;
    line-height: 24px;
    color: #010E2A;
    border: 0;
    background: #F5F5FC;
}

.contentBody {
    display: flex;
    gap: 45px;
    max-width: 1140px;
}


.homeMobile {
    display: none;
}



@media (max-width: 430px) {
    .container {
        display: flex;
    }
    .content {
        display: none;
    }
    .homelogo {
        display: none;
    }
    .navleft {
        display: none;
    }
    
    .homeMobile {
        display: flex;
    }
    .wallet {
        max-width: 300px;
    }
    .phone {
        min-width: 300px;
    }
}
@media (min-width: 430px) {
    .phone {
        max-width: 300px;
    }
}


/* @media (min-width: 360px) {
    .container {
        max-width: 360px;
    }
    .content {
        padding: 0;
        max-width: 360px;
    }
    .homelogo {
        display: flex;
    }
    .nav {
        max-width: 360px;
    }
    .navleft {
        display: none;
    }
    .clicks {
        display: flex;
    }
    .foot {
        display: flex;
        max-width: 360px;
    }
    
} */

/* @media (min-width: 375px) {
    .container {
        max-width: 375px;
    }
    .content {
        padding: 0;
        max-width: 360px;
    }
    .homelogo {
        display: flex;
    }
    .navleft {
        display: none;
    }
    .clicks {
        display: flex;
    }
    .foot {
        display: flex;
        max-width: 375px;
    }
    
}

@media (min-width: 390px) {
    .container {
        max-width: 390px;
    }
    .content {
        padding: 0;
        max-width: 360px;
    }
    .homelogo {
        display: flex;
    }
    .navleft {
        display: none;
    }
    .clicks {
        display: flex;
    }
    .foot {
        display: flex;
        max-width: 390px;
    }
    
}

@media (min-width: 412px) {
    .container {
        max-width: 412px;
    }
    .content {
        padding: 0;
        max-width: 360px;
    }
    .homelogo {
        display: flex;
    }
    .navleft {
        display: none;
    }
    .clicks {
        display: flex;
    }
    .foot {
        display: flex;
        max-width: 412px;
    }
    
} */

/* @media (min-width: 414px) {
    .container {
        max-width: 414px;
    }
    .content {
        padding: 0;
        max-width: 360px;
    }
    .homelogo {
        display: flex;
    }
    .navleft {
        display: none;
    }
    .clicks {
        display: flex;
    }
    .foot {
        display: flex;
        max-width: 414px;
    }
    
} */